<div class="container gallery-container">

  <h1>{{city}}'s Gallery</h1>

  <p class="page-description text-center">s</p>
  
  <div lightbox-group>
        <ng-masonry-grid
            (onNgMasonryInit)="onNgMasonryInit($event)"
            [masonryOptions]="{ transitionDuration: '0.8s', gutter: 5 }" 
            [useAnimation]="true"
            [useImagesLoaded]="true"
            [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 0.4, maxDuration : 0.7 }">
            <!-- Masonry Grid Item -->
            <ng-masonry-grid-item  id="{{'masonry-item-'+i}}" *ngFor="let item of masonryItems; let i = index;" > 
            <!-- Grid Content  -->
              <img [src]="item.src" alt="No image" width="200px"  backgroundOpacity="0.8" [hideThumbnail]="false" lightbox/>
            </ng-masonry-grid-item>
           </ng-masonry-grid>
        </div>
</div>
<!-- <form (ngSubmit)="fetchWeatherUnsplash()" role="form">
  <div class="pt-5 pdb-5"> 
    <input #cityInput placeholder="Input a City" type="text" class="form-control" (keyup)="onCityKey(cityInput.value)" (keyup.enter)="fetchWeatherUnsplash()"/>
  </div>
  <div class="col-sm-12 col-md-6" *ngIf="error">
    <div class="alert alert-danger">
      {{error}}
    </div>
  </div>
  <div class="pt-5 pb-5">
    <button (click)="fetchWeatherUnsplash()" class="btn btn-primary btn-lg btn-block">City</button>
  </div>
</form> -->
