<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="currentImage.url"  alt="Random first slide">
    <div class="carousel-caption">
      <h5>Munich 3,{{weatherData?.temp}}, {{weatherData?.weatherLongDescription}}</h5>
      <p>{{currentImage.title}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="currentImage.url" alt="Random second slide">
    <div class="carousel-caption">
      <h5>Munich 3,{{weatherData?.temp}}, {{weatherData?.weatherLongDescription}}</h5>
      <p>{{currentImage.title}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="currentImage.url"  alt="Random third slide">
    <div class="carousel-caption">
      <h5>Munich 3,{{weatherData?.temp}}, {{weatherData?.weatherLongDescription}}</h5>
      <p>{{currentImage.title}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="currentImage.url"  alt="Random fourth slide">
    <div class="carousel-caption">
      <h5>Munich 3,{{weatherData?.temp}}, {{weatherData?.weatherLongDescription}}</h5>
      <p>{{currentImage.title}}</p>
    </div>
  </ng-template>
</ngb-carousel>

  

<!-- <div class="row justify-content-end">
  <div class="col col-md-2 col-sm-12 float-right">
    <button class="btn btn-primary" (click)="fetchWeatherUnsplash()">Get New Pictures!</button>
  </div>
</div> -->
