<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Avocado</a>
  <!-- <a class="nav-item navbar-link mr-1" routerLink="/" routerLinkActive="active">Home</a>
  <a class="nav-item navbar-link mr-1" routerLink="/chucknorris" routerLinkActive="active">Chuck Norris</a>
  <a class="nav-item navbar-link mr-1" routerLink="/yourfriend" routerLinkActive="active">Your Friend</a>
  <a class="nav-item navbar-link" routerLink="/weather" routerLinkActive="active">Weather</a> -->
</nav>

<main role="main" class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <app-weather-unsplash></app-weather-unsplash>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
